.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .register-form {
    display: flex;
    
    flex-direction: column;
    width: 300px;
  }
  
  .register-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  
  .register-form button {
    padding: 0.5rem;
    background-color: #0a8c72;
    color: white;
    border: none;
    cursor: pointer;
  }